<div class="container">
  <div class="row">
    <div class="col-xs-3" >
      <%= render 'users/list', user: @user %>
      <%= render 'books/list2', book: @book %>
    </div>
  </div>


   <h1>Books</h1>
  <div class="row">
  <div class="col-xs-9">

   <table class="table hover">
  <thead>
      <th>Title</th>
      <th>Opinion</th>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= link_to book_path(book) do %>
            <%= book.title %>
            <% end %>
        </td>
        <td><%= book.body %></td>
      </tr>
    <% end %>
  </tbody>
</table>
 </div>
</div>
</div>
</div>