<h1>User info</h1>
<div class="profile-container">
    <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>
    <h3><%= @user.name %></h3>
    <h3><%= @user.introduction %></h3>
   <% if @user.id == current_user.id %>
    <p><%= link_to "プロフィール編集", edit_user_path(@user) %></p>
   <% end %>
</div>


<h1>New book</h1>
 <%= form_with model:@book, local:true do |f| %>

<!-- エラーメッセージの表示（バリデーション）-->
<% if @book.errors.any? %>
  <div id="error_explanation" class="alert alert-danger">
    <ul>
 <%= @book.errors.count %>error
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

   <h4>Title</h4>
   <%= f.text_field :title %>

   <h4>Opinion</h4>
   <%= f.text_area :body %>

   <%= f.submit 'Create Book' %>

 <% end %>

<h1>Book detail</h1>
<% @profile_images.zip(@books).each do |user, book| %>
 <% if @user.id == current_user.id %>
　<table>
　  <thead>
　    <th colspan="1"></th>
　    <th colspan="1"></th>
　    <th colspan="1"></th>
　    <th colspan="1"></th>
　    <th colspan="1"></th>
　  </thead>
　  <tbody>
　    <tr>
       <td><%= user.profile_image %></td>
       <td><%= link_to user.name, user_path(user.id) %></td>
       <td><%= book.title %></td>
       <td><%= book.body %></td>
       <td><%= link_to "Edit", edit_user_book %></td>
       <td><%= link_to "Destroy", user_book_index, method: :delete %></td>
　    </tr>
　  </tbody>
　</table>
　<% else %>
　 <table>
　  <thead>
　    <th colspan="2"></th>
　    <th colspan="2"></th>
　    <th colspan="4"></th>
　  </thead>
　  <tbody>
　    <tr>
       <td><%= user.profile_image %></td>
       <td><%= link_to user.name, user_path(user.id) %></td>
       <td><%= book.title %></td>
       <td><%= book.body %></td>
　    </tr>
　  </tbody>
　</table>
　<% end %>
<% end %>