<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

 <header>
   <h2>Bookers</h2>

   <div id="slidemenu">
  <ul class="nav navbar-nav navbar-right" data-hover="dropdown" data-animations="zoomIn fadeIn fadeInUp fadeIn">
    <% if user_signed_in? %>
    　<li class="">
        <!-- ↓以下のコードは、5章で正しいroutingに書き直します。 -->
        <%= link_to 'Home(マイページ)', "#" %>
      </li>
       <li class="">
        <%= link_to 'Users', new_user_path %>
      </li>
       <li class="">
        <%= link_to 'Books', book_index_path %>
      </li>
      <li class="">
        <%= link_to "logout", destroy_user_session_path, method: :delete %>
      </li>
    <% else %>
    　<li class="">
        <!-- ↓以下のコードは、5章で正しいroutingに書き直します。 あと、この下に"about"へのリンクが必要-->
        <%= link_to 'Home(マイページ)', book_index_path %>
      </li>
      <li class="">
        <%= link_to "sign up", new_user_registration_path %>
      </li>
      <li class="">
        <%= link_to "login", new_user_session_path %>
      </li>
    <% end %>
  </ul>
</div>

 </header>

  <body>

    <%= yield %>
  </body>

  <footer>
    <p>CopyRight Infratop.inc</p>
  </footer>

</html>
