<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

 <header>
   <h2>Bookers</h2>
 </header>

  <body>

    <%= yield %>
  </body>

  <footer>
    <p>CopyRight Infratop.inc</p>
  </footer>

</html>
